body{
    background-image: url('background inmage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* .game-container{
    margin-top: 150px;
} */

.player-one-section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
    background-color: #b33131;
}

.player-two-section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521);
}

.new-game{
    position: absolute;
    z-index: 100;
    font-weight: 400;
    font-size: 20px;
}

.new-game:hover{
    background-color: white;
    box-shadow: 4px 4px 10px  rgba(0, 0, 0, 0.415);
}

.fa-plus-circle{
    color: rgb(114, 201, 15);
}

.fa-circle{
    font-size: 12px;
    color: rgb(114, 201, 15);
}

.player-1, .player-0{
    font-size: 36px;
    letter-spacing: 1.6px;
    margin-top: 100px;
}


.score-0, .score-1  {
    font-size: 70px;
    font-weight: 100;
    color: #001c31;
}

.main-score-1, .main-score-2{
    background-color: #001c31;
    padding: 4px 0% 4px 0%;
    margin: 100px 29% 100px 29%;
    color: white;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.712);
}


.roll-hold{
    position: absolute;
    z-index: 300;
    margin-top: 390px;

}


.roll-hold .roll-dice{
    font-size: 18px;
}



.hold-dice:hover, .roll-dice:hover{
    background-color: white;
    box-shadow: 4px 4px 10px  rgba(0, 0, 0, 0.415);
}


.fa-cloud-upload-alt, .fa-spinner{
    color:rgb(114, 201, 15);
}



.dice{
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 200;
    background-color: secondary;
    margin-top: 220px;
    color: rgb(114, 201, 15);
}

.mobile{
    display: none;
}


@media only screen and (min-device-width:320px) and (max-device-width:766px){
    .game-container{
        display: none;
    }

    .mobile{
        display: block;
        color: white;
        margin-top: 200px;
    }


    body{
        background-image: none;
        text-align: center;
        background-color: #b33131!important;
    }
}